@font-face {
    font-family: "ism";
    src: url("../fonts/ism.ttf"),
}

body {
    font-family: "ism";
    background-color: #121212;
    color: #ffffff;
    text-align: right;
    direction: rtl;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.welcome-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.support-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn-custom {
    margin-right: 10px;
}