html{
    background-color: #0F1214;
}

@font-face {
    font-family: "isb";
    src: url("../fonts/isb.ttf"),
}
@font-face {
    font-family: "ism";
    src: url("../fonts/ism.ttf"),
}
@font-face {
    font-family: "isr";
    src: url("../fonts/isr.ttf"),
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; /* رنگ پس‌زمینه صفحه */
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: space-between; /* تنظیم فاصله بین عناصر */
    background-color: #000; /* رنگ پس‌زمینه منو */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto; /* حذف مارجین بالا */
    /* border-radius: 10px; */
}

.nav-item {
    text-align: center;
    flex: 1;
    font-family: "isb";
}

.nav-link {
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: #fff; 
    text-decoration: none;
    padding: 10px 5px; 
}

.nav-link i {
    font-size: 24px; 
    margin-bottom: 2px; 
}

.nav-link span {
    margin-top: 2px; 
}

.nav-link.active {
    font-weight: bold; 

}

.banner {
    width: 100%; 
    height: 40vh; 
    background: url('../images/4864063.png') no-repeat center center;
    background-size: cover;
    border-radius: 20px; 
    margin-bottom: 40px;  
}

@media (max-width: 576px) {
    .mobile-cards {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        padding: 20px;
        margin-top: -20px;
    }

    .mobile-cards .card {
        background-color: #2b2b2b;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        color: #000;
        width: 100%;
    }

    .mobile-cards .card img {
        width: 100%;
        height: 200px; /* ارتفاع تصویر برای نمایش بزرگ‌تر */
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .mobile-cards .card-body {
        padding: 20px;
    }

    .mobile-cards .card-title {
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .mobile-cards .card-text {
        color: #eeeeee;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .mobile-cards .btn-group {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .mobile-cards .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 16px;
    }

    .mobile-cards .btn-increase {
        background-color: #28a745;
    }

    .mobile-cards .btn-decrease {
        background-color: #dc3545;
    }

    .mobile-cards .quantity {
        font-size: 16px;
        font-weight: bold;
    }
}


@media (min-width: 576px) {
        body {
            display: none;
        }
    } 
