@font-face {
    font-family: "ism";
    src: url("../fonts/ism.ttf"),
}

body {
    font-family: "ism";
    background-color: #121212;
    color: #ffffff;
    text-align: right;
    direction: rtl;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.welcome-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.support-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn-custom {
    margin-right: 10px;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.home-icon a {
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
}

.home-icon a:hover {
    color: #888888;
}

    .accordion-item {
        background-color: #333; /* رنگ پس زمینه هر آیتم آکاردیون */
        border: 1px solid #555; /* حاشیه بین آیتم‌های آکاردیون */
        margin-bottom: 10px; /* فاصله بین آیتم‌های آکاردیون */
        border-radius: 5px; /* گوشه‌های گرد آیتم‌های آکاردیون */
    }
    .accordion-button {
        background-color: #444; /* رنگ پس زمینه دکمه آکاردیون */
        color: #fff; /* رنگ متن دکمه آکاردیون */
    }
    .accordion-button:not(.collapsed) {
        background-color: #555; /* رنگ پس زمینه دکمه آکاردیون هنگام باز بودن */
    }
    .accordion-body {
        background-color: #555; /* رنگ پس زمینه بدنه آکاردیون */
        color: #fff; /* رنگ متن بدنه آکاردیون */
    }

